@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body {
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2.0vw;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 70%;

    border-radius: 0.8vh;
    background-color: rgb(32, 31, 61);
}

.l-title {
    font-size: 3.5vw;
    color: #e6e6e6;

    border-bottom: 0.1vh solid #c0c0c0;
}

.l-sub {
    font-size: 1.2vw;
    text-align: center;
    color: #c0c0c0;

    margin-left: 5%;
    margin-right: 5%;
}

.l-subtitle {
    font-size: 2.5vw;
    color: #cacaca;

    margin-top: 3%;
}

.num-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;

}

.num-circle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6.5vh;
    height: 6.5vh;

    border-radius: 50%;

    background-color: rgb(143, 143, 143);
    cursor: pointer;
}

.end-btn {
    width: 50%;
    height: 6%;
    font-size: 1.2vw;
    font-family: 'Rubik', sans-serif;
    
    margin-bottom: 5%;
    border: none;
    border-radius: 0.5vh;
}